*{
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
}

body{
    font-family: 'Bruno Ace SC', cursive;
}

footer{
    background-color: aqua;
    margin-top: 20px;
    padding: 0;
}

h2{
    padding-top: 10px;
}

.marcas_header{
    display: none;
}

@media (min-width: 768px) {
    .marcas_header{
        background-color: black;
        gap: 40px;
        height: 45px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
}

.caja_marcas_header{
    height: 45px;
    width: 45px;
    margin: 0;
    padding: 0;
}
.caja_marcas_header img{
    max-width: 100%;
}

.logo_bien_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .marcas_header{
        background-color: black;
        gap: 40px;
        height: 45px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    }
}

.logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
}

.promos_section{
    align-items: center;
}

.video-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 10px;
}

@media (min-width: 768px)  {
    .video-container{
        flex-direction: row;
    }
}

.nosotros{
    display: flex;
    flex-direction: column;
}
@media (min-width: 1100px)  {
    .nosotros{
        flex-direction: row;
    }
}

.historia{
    text-align: justify;
    margin: 0;
    padding: 10px 50px 20px 50px;
    color: rgb(100, 104, 101);
}

.map{
    padding: 20px 20px 20px 20px;
    min-height: 100px;
}

.contacto{
    position: fixed;
    bottom: 0;
    right: 20px;
}

.wapp{
    width: 50px;
    height: 50px;

}

.social_media{
    width: 40px;
    height: 40px;
}

.container-labels{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.container-labels label{
    cursor: pointer;
    padding: 8px 15px;
}

.acordion_main{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .acordion_main{
        flex-direction: row;
    }
}

.selec_componentes {
    background-color: #f1f1f1;
}

.accordion-body {
    background-color: #d1d1d1;
}

/* ocultar los radio */
#amd, #intel, #ati, #nvidia{
    display: none;
}

.amd, .intel, .ati, .nvidia{
    display: none;
}

#amd:checked ~ .padre-cards .amd{
    display: flex;
}

#intel:checked ~ .padre-cards .intel{
    display: flex;
}

#ati:checked ~ .padre-cards .ati{
    display: flex;
}

#nvidia:checked ~ .padre-cards .nvidia{
    display: flex;
}
