.container-labels{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;

    label{
    cursor: pointer;
    padding: 8px 15px;
    }
}
.acordion_main{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .acordion_main{
        flex-direction: row;
    }
}

.selec_componentes {
    background-color: #474747;
}

.accordion-body{
    background-color: #d1d1d1;
}


/* ocultar los radio */

#asus-gamer, #acer-gamer, #gigabyte-gamer, #msi-gamer, #asus-intel, #lenovo-intel, #dell-intel, #asus-amd, #lenovo-amd, #hp-amd{
    display: none;
}
.asus-gamer, .acer-gamer, .gigabyte-gamer, .msi-gamer, .asus-intel, .lenovo-intel, .dell-intel, .asus-amd, .lenovo-amd, .hp-amd{
    display: none;
}

#asus-gamer:checked ~ .padre-cards .asus-gamer{
    display: flex;
}

#acer-gamer:checked ~ .padre-cards .acer-gamer{
    display: flex;
}

#gigabyte-gamer:checked ~ .padre-cards .gigabyte-gamer{
    display: flex;
}

#msi-gamer:checked ~ .padre-cards .msi-gamer{
    display: flex;
}

#asus-intel:checked ~ .padre-cards .asus-intel{
    display: flex;
}

#lenovo-intel:checked ~ .padre-cards .lenovo-intel{
    display: flex;
}

#dell-intel:checked ~ .padre-cards .dell-intel{
    display: flex;
}

#asus-amd:checked ~ .padre-cards .asus-amd{
    display: flex;
}

#lenovo-amd:checked ~ .padre-cards .lenovo-amd{
    display: flex;
}

#hp-amd:checked ~ .padre-cards .hp-amd{
    display: flex;
}
